body {
    background-color: tan;
}

header {
    display: block;
    margin-bottom: 5%;
}

#form-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#submit-btn {
    display: block;
    margin: 5% auto;
}


/* DESKTOP */
@media screen and (min-width:600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #form-layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #enroll-layout {
        display: flex;
        justify-content: space-evenly;
    }
    
}
